---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import LogoStrip from "../components/LogoStrip.astro";
import Features from "../components/Features.astro";
import PrivacyControl from "../components/PrivacyControl.astro";
import AutoBuild from "../components/AutoBuild.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <LogoStrip />
    <Features />
    <PrivacyControl />
    <AutoBuild />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
